.aboutproduct
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 5px;
    color: #000000;
    background: #00c8cc;
    border-radius: 10px;
}

.aboutproduct .about{
    width: 230px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background: #019ecc;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.aboutproduct .about .photo
{
    width: 230px;
    height: 300px;
    background: #464646;
    border-radius: 10px;
}

.aboutproduct .desc
{
    text-align: ;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

a {

    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}



a:hover {
    color: #920699;
    text-decoration: underline;
}