.four.columns.centered
  %h3{style: "text-align: center"} Продукты
  %div{style: "text-align: center"}= will_paginate
.row
  .ten.columns.centered
    %ul.block-grid.three-up
      -@products.each do |product|
        = render product
.four.columns.centered
  %div{style: "text-align: center"}= will_paginate